
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root{
    --black: #020204;
    --black2: #141415;
    --light-black: #262626;
    --white: #F2F2F2;
    --green: #003800;
    --light-green: #22b455;
}


*, *::before, *::after{
    box-sizing: border-box;
    font-size: inherit;
    font-family: 'Inter', sans-serif;
}

/*Generales*/
body{
    margin: 0;
    min-height: 100vh;
    height: 100%;
    

    background-image: url('../assets/hacker_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(.5rem) brightness(.2);
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

header{
    position: absolute;
    
}

main{
    min-height: 100vh;
    max-width: 120rem;

    padding: 5rem 2rem 0 2rem;
}

p{
    color: var(--white);
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}
footer{
    
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    gap: 3rem;
    align-items: center;
    margin: 3rem 0 0 0;
    padding: .2rem .5rem;

    backdrop-filter: opacity(20%);
    background-color: rgba(0, 0, 0, 0.663);
   
}


/*Globales*/
.fuente_um{
    font-family: 'Ubuntu Mono', monospace;
}

.color_verde{
    color: #22b455;
}

.important{
    font-weight: bold;
    font-size: 2rem;
}
.buttons{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.btn{
    width: 100%;
    max-width: 50rem;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--black);
    border: none;
    transition: all .3s ease-in;
}
.btn:hover{
    background-color: var(--light-green);
    color: black;
    transition: all .3s ease-in;
}
.btn-dark{
    color: var(--light-green);
}
.btn-light{
    color: var(--white);
}

/*Header*/
.logo{
    width: 120px;
    margin: 2rem;
}


/*Main*/
.secciones{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5rem;
}


/* Ventana */
#ventana{
    border: 2px solid var(--black);
    background-color: var(--black);
    width: 100%;
    max-width: 60rem;
}

#ventana-header{
    user-select: none;
}

#textoVentana{
    padding-left: 1rem;
    font-size: 1.3rem;
}

/*Encriptador*/
.encriptador{
    padding: 1rem .2rem;
    min-height: 30rem;
    background-color: var(--black2);
}

.encriptador p{
    line-height: 3rem;
}

.encriptador form{
    display: flex;
    align-items: flex-end;
}

.encriptador textarea{
    height: 24px;
    width: 100%;
    padding: 2px;
    font-size: 1.6rem;
    word-wrap: break-word;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none;
    background-color: black;
    border-bottom: 1px solid var(--light-green);
}

.encriptador button{
    background-color: transparent;
    border: none;
    padding: 0 2rem;
    
}

.encriptador button:disabled{
    filter: grayscale(1);
}

.encriptador button img{
    width: 1.5rem;
}


.resultado{
    display: none;
    grid-template-columns: 1fr min-content;
}

#textoEncriptado{
    
}

#copy{
    position: relative;
}

#copied{
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0;
}


.botones{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.btn-windows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    padding: 1rem 0;
    user-select: none;
}

.btn-windows:hover{
    cursor: pointer;
    border: 2px solid rgb(124, 124, 124);
    background-color: rgba(255, 255, 255, 0.065);
}


.active {
    cursor: pointer;
    border: 2px solid rgb(0, 56, 115) !important;
    background-color: rgba(0, 24, 86, 0.065) !important;
}

.btn-windows img{
    width: 3rem;
}

.btn-windows p{
    font-size: 1rem;
}


/* Footer */
.footer-so{
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1;
    background-color: var(--light-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-so img{
    width: 100%;
}


.footer-links{
    display: flex;
}

.footer-links a{
    aspect-ratio: 1;
    width: 5rem;
    padding: 1.5rem;
}

.footer-links a:hover{
    background-color: var(--black2);
}

footer p{
    justify-self: end;
    margin-right: 1rem;
    opacity: .7;
    user-select: none;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--green);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-green);
}



/*Media Queries*/

@media screen and (min-width: 700px) {
    #ventana{
        position: absolute;
    }

    main{
            display: grid;
                justify-content: end;
                margin: 0 auto;
    }

    footer{
        margin-top: -6rem;
    }
}